<p>courses works!</p>

<label for="filter">Filtrera kurser:</label>
<input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">

<table id="courseTable">
    <tr>
        <th>Kurskod</th>
        <th>Kursnamn</th>
        <th>Progression</th>
        <th>Länk</th>
    </tr>
    <tr *ngFor="let course of courselist">
        <td> {{course.code}} </td>
        <td> {{course.coursename}} </td>
        <td> {{course.progression}} </td>
        <td> <a [href]="course.syllabus" target="_blank">läs mer</a> </td>
    </tr>
</table>